body{
    background: rgb(255, 255, 255);
}

header{
    z-index: 100;
}

.description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}

.description:hover{
    height: 50px;
}